<a href="https://colab.research.google.com/github/HemaRavi94/Machine-Learning/blob/main/datapreprocessing_assignment11_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Data.csv

**Step 1: Importing the libraries**

In [ ]:
import pandas as pd
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

**Step 2: Importing dataset**

In [ ]:
df=pd.read_csv('Data.csv')

**Step 3: Handling the missing data**

In [ ]:
df.isnull()

   Country    Age  Salary  Purchased
0    False  False   False      False
1    False  False   False      False
2    False  False   False      False
3    False  False   False      False
4    False  False    True      False
5    False  False   False      False
6    False   True   False      False
7    False  False   False      False
8    False  False   False      False
9    False  False   False      False

**Step 4: Encoding categorical data**

In [ ]:
df.columns

label_encoder=preprocessing.LabelEncoder()
df['Country']=label_encoder.fit_transform(df['Country'])

df['Country'].unique()

array([0, 2, 1])

**Step 5: Creating a dummy variable**

In [ ]:
df1=pd.get_dummies(df)
df1

   Country   Age   Salary  Purchased_No  Purchased_Yes
0        0  44.0  72000.0             1              0
1        2  27.0  48000.0             0              1
2        1  30.0  54000.0             1              0
3        2  38.0  61000.0             1              0
4        1  40.0      NaN             0              1
5        0  35.0  58000.0             0              1
6        2   NaN  52000.0             1              0
7        0  48.0  79000.0             0              1
8        1  50.0  83000.0             1              0
9        0  37.0  67000.0             0              1

**Step 6: Splitting the datasets into training sets and Test sets**

In [ ]:
x=df.iloc[:,-1]
y=df.iloc[:,:1]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.03,random_state=0)
x_train,y_train

(8     No
 4    Yes
 9    Yes
 1    Yes
 6     No
 7    Yes
 3     No
 0     No
 5    Yes
 Name: Purchased, dtype: object,    Country
 8        1
 4        1
 9        0
 1        2
 6        2
 7        0
 3        2
 0        0
 5        0)

**Step 7: Feature Scaling**

In [ ]:
scaler = MinMaxScaler()
  
df[["ScaledSalary"]] = scaler.fit_transform(df[["Salary"]])
  
print(df)

   Country   Age   Salary Purchased  ScaledSalary
0        0  44.0  72000.0        No      0.685714
1        2  27.0  48000.0       Yes      0.000000
2        1  30.0  54000.0        No      0.171429
3        2  38.0  61000.0        No      0.371429
4        1  40.0      NaN       Yes           NaN
5        0  35.0  58000.0       Yes      0.285714
6        2   NaN  52000.0        No      0.114286
7        0  48.0  79000.0       Yes      0.885714
8        1  50.0  83000.0        No      1.000000
9        0  37.0  67000.0       Yes      0.542857